html {
    /* font-family: 'Mountains of Christmas', cursive; */
    height: 30%;
    font-family: 'Amatic SC', cursive;
    background-image: linear-gradient(to bottom, #86C5FF, rgba(0,0,255,0));
    background-repeat: no-repeat;
}

.countdownbox {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    font-size: 200%;
}
