<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rishabh Sarup</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class = "text-center">
      <h1>Ho Ho Ho!</h1>
      <p>
        Welcome to Cornell Secret Santa! This Christmas, we want everyone at
        Cornell to enjoy the festive season by participating in a campus-wide
        Secret Santa gift exchange!
      </p>
    </div>
      <br> </br>

    <div  class = "col-md-12">
        <div class = "text-center">
        <h2> How This Works: </h2>
            <ul>
            <li>Sign up on Nov. 22 to participate in the Secret Santa draw.</li>
            <br></br>
            <li>Make sure to add your interests and price range so we can match you with your perfect Santa!</li>
            <br></br>

            <li> Tell your friends about Cornell Secret Santa and wait till our Secret Santa reveal on Dec. 6!</li>
            <br></br>

            <li> Purchase your gift for your gift receiver! </li> 
            <br></br>

            <li> Show up to our Gift Day on Dec. 10 at Ho Plaza (link to FB event) with your gift and find your gift receiver and Secret Santa!
            
            </li> 
            <br></br>

          </ul>

        </p> 

    </div> 
    </div>


  </body>
</html>