<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="Faq.css">
  </head>


    <section class="sec-faq" id="sec-faq">
      <div class="content">
        <div class = "col-md-9">
        <h1> Ho Ho Ho! </h1>
        <h2><a style="#sec-faq-a" >Welcome</a>  to the 2019 Secret Santa Gift Exchange!</h2>
        <h2><a style="#sec-faq-a">What</a> is this event?</h2>
        <h4>This Christmas, we want everyone at
          Cornell to enjoy the festive season by participating in a campus-wide
          Secret Santa gift exchange!</h5>
          <h2><a style="#sec-faq-a">How</a> does this work?</h2>
          <ul>
            <li>Sign up on Nov. 22 to participate in the Secret Santa draw.</li>
            <br></br>
            <li>Make sure to add your interests and price range so we can match you with your perfect Santa!</li>
            <br></br>

            <li> Tell your friends about Cornell Secret Santa and wait till our Secret Santa reveal on Dec. 6!</li>
            <br></br>

            <li> Purchase your gift for your gift receiver! </li>
            <br></br>

            <li> Show up to our Gift Day on Dec. 10 at Ho Plaza (link to FB event) with your gift and find your gift receiver and Secret Santa!

            </li>
            <br></br>

          </ul>

      </div>
    </section>


  </body>
</html>
