@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

.container {
  display: flex;
  font-family: "Roboto Condensed";
  padding-left: 0;
}

.input-other {
  display: block;
  width: 100%;
  font-size: 15px;
  outline: 0;
  border-width: 0 0 2px;
  border-bottom: 2px solid #d9d9d9;
  font-family: "Roboto Condensed";
}

.input-other:focus {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border-color: #ff4b5a;
}
