@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.link {
  text-transform: uppercase;
  color: #314667;
  letter-spacing: 0.08em;
  text-decoration: none !important; /* FIX */
  font-weight: bold;
  padding-bottom: 1%;
  border: none;
}

a.link:hover {
  color: #818181;
}

.active-link {
  border-bottom: solid;
  border-bottom-color: #b31b1b;
}

.active:hover {
  border-bottom-color: rgb(214, 140, 140);
}
