@import url("https://fonts.googleapis.com/css?family=BenchNine&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

.countdownBox {
  /* width: 90px;
    height: 90px; */
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  width: 100%;
  position: absolute;
  top: 0%;
  margin: 25.5% auto 5% auto;
  font-family: "Roboto Condensed", sans-serif;
}

.countdownRow {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.countdownRow1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.countdownRow h3 {
  text-align: center;
  width: 30%;
  font-size: 150px;
  color: white;
  line-height: 85%;
}

.col1 h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #314667;
  margin-right: 45%;
}

.col2 h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #314667;
  margin-right: 27%;
}

.col1 {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 3%;
}

.col2 {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 10%;
}

.title {
  font-size: 200%;
}

.container {
  position: relative;
}

.matchtext {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 92%;
  color: #314667;
  font-weight: bold;
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;

}

.textrow {
  display: flex;
  flex-direction: all;
}

.imgcol {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 10%;
}

.textcol {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.textcol2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 10%;
}

.biggertext {
  font-family: "BenchNine";
  color: #b31b1b;
  font-size: 200px;
  text-align: center;
}

.smallertext {
  font-family: "BenchNine";
  color: #b31b1b;
  font-size: 130px;
  text-align: center;
}

.normaltext {
  font-family: "Roboto-condensed";
  text-align: left;
  line-height: 40px;
  text-justify: inter-word;
}

.paragraph {
  font-family: "Roboto-condensed";
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15%;
  margin-left: 10%;
  line-height: 30px;
  text-justify: inter-word;

}

.list {
  list-style-position: inside;
  font-family: "Roboto-condensed";
  font-size: 20px;

}

.background {
  margin-top: 3%;
}

.arrow {
  position: absolute;
  top: 100%;
  margin-top: 1.5%;
  justify-content: center;
}

