@import url("https://fonts.googleapis.com/css?family=BenchNine&display=swap");

.countdownBox {
  /* width: 90px;
    height: 90px; */
  display: flex;
  flex-direction: column;
  margin: 24% auto 5% auto;
  /* padding: 10%; */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  vertical-align: middle;
  width: 100%;
  position: absolute;
  top: 0%;
}

.countdownRow {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.countdownRow1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.countdownRow h3 {
  text-align: center;
  width: 30%;
  font-size: 100px;
  color: white;
}

.countdownRow1 h3 {
  text-align: center;

  font-size: 30px;
  color: white;
  margin-right: 10%;
}

.countdownbox {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  font-size: 200%;
}

.container {
  position: relative;
}

.textrow {
  display: flex;
  flex-direction: row;
}

.textcol {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.biggertext {
  font-family: "BenchNine";
  color: #b31b1b;
  font-size: 200px;
  text-align: center;
}

.smallertext {
  font-family: "BenchNine";
  color: #b31b1b;
  font-size: 130px;
  text-align: center;
}

.paragraph {
  font-family: "Roboto";
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15%;
  margin-left: 10%;
}
