@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.form-container {
  background-color: "#FBFBFB";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  position: relative;
  font-family: "Roboto Condensed";
}

.signup-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 82px 180px 33px 180px;
}

@media screen and (max-width: 992px) {
  .signup-form {
    padding: 82px 80px 33px 80px;
  }
}

@media screen and (max-width: 576px) {
  .signup-form {
    padding: 82px 15px 33px 15px;
  }
}

.signup-form-title {
  display: block;
  width: 100%;
  font-weight: 800;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 44px;
}

.input-container {
  width: 100%;
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 65px;
}

.input-label {
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
  padding-left: 5px;
}

.input-box {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  background: transparent;
  margin: 10px 0px 5px 0px;
  padding: 0px 5px 10px 5px;
  outline: 0;
  border-width: 0 0 2px;
  border-bottom: 2px solid #d9d9d9;
}
.input-box:focus {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border-color: #ff4b5a;
}

.error-message {
  font-family: "Poppins";
  font-weight: 400;
  color: red;
  margin-left: 5px;
}

.custom-container {
  width: 100%;
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 65px;
}

.has-val.input100 + .input-foucs::before {
  width: 100%;
}

.wrap-input {
  width: calc((100% - 30px) / 2);
}
